<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.hw.mapper.HostelMapper">
	<!-- 根据所有信息查找Hostel-->
 	<select id="selectHostelByAll"  resultType="Hostel">
 		select * from hostel where name = #{0} and phone = #{1}
 		and level = #{2} and bankCard = #{3} and province = #{4} and city = #{5} 
 		and district = #{6}
 	</select>
 	
 	<!-- 增加一个Hostel -->  
    <insert id="addHostel"> 
        insert into hostel(name,password,id,phone,level,bankCard,province,city,district,imgUrl,state) 
        values(#{0},0,0,#{1},#{2},#{3},#{4},#{5},#{6},#{7},0)  
     </insert>
     
     <!-- 根据识别码查找Hostel-->
 	<select id="selectHostelById"  resultType="Hostel">
 		select * from hostel where id = #{0}
 	</select>
 	
 	<!-- 查找所有未审批的客栈-->
 	<select id="selectHostelsState0" resultMap="hostelResultMap" resultType="Hostel">
		select * from hostel where state = 0
	</select>
	<resultMap type="Hostel" id="hostelResultMap">
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<result property="id" column="id"/>
		<result property="province" column="province"/>
		<result property="city" column="city"/>
		<result property="district" column="district"/>
		<result property="phone" column="phone"/>
		<result property="bankCard" column="bankCard"/>
		<result property="level" column="level"/>
		<result property="imgUrl" column="imgUrl"/>
		<result property="state" column="state"/>
	</resultMap>
	
	<select id="getAllHostelsChange" resultMap="hostelResultMap" resultType="Hostel" >
		select * from hostelChange
	</select>
	
	
	
	<!-- 审批通过的店铺转正 --> 
    <update id="addNewHostel">
    	update hostel set id=#{7},password=#{8},state=1 where name = #{0} and phone = #{1}
 		and level = #{2} and bankCard = #{3} and province = #{4} and city = #{5} 
 		and district = #{6}
    </update>
    
    <!-- 删除店铺 --> 
    <delete id="deleteHostelByAll">
    	delete from hostel where name = #{0} and phone = #{1}
 		and level = #{2} and bankCard = #{3} and province = #{4} and city = #{5} 
 		and district = #{6} 
    </delete>
    
    
    <!-- 将提交了修改信息待审批的店铺state设成2 --> 
    <update id="setState2">
    	update hostel set state=2 where id = #{0}
    </update>
    
     <!-- 将店铺state设成1 --> 
    <update id="setState1">
    	update hostel set state=1 where id = #{0}
    </update>
    
    
    <!-- 增加一个HostelChange -->  
    <insert id="addHostelChange"> 
        insert into hostelchange(name,phone,level,bankCard,province,city,district,imgUrl,id,password,state) 
        values(#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9},#{10})  
     </insert>
     
     
     <!-- 根据识别码查找HostelChange-->
 	<select id="selectHostelChangeById"  resultType="Hostel">
 		select * from hostelchange where id = #{0}
 	</select>
 	
 	
 	<!-- 更新客栈信息by修改信息-->
 	<update id="updateHostelChange"> 
        update hostel set name = #{0} , phone = #{1}
 		, level = #{2} , bankCard = #{3} , province = #{4} , city = #{5} 
 		, district = #{6} , imgUrl = #{7} , state=1 where id = #{8}
     </update>
     
     <!-- 删除原来的修改信息 --> 
    <delete id="deleteHostelChangeById">
    	delete from hostelchange where id = #{0}
    </delete>
    
    <!-- 增加一个入店登记 -->  
    <insert id="addEnter"> 
        insert into hed(hid,enterDate,name,idCard,bed,num,orderDate) 
        values(#{0},#{1},#{2},#{3},#{4},#{5},#{6})  
     </insert>
     
     <!-- 将离店信息更新进去-->
 	<update id="addLeave"> 
        update hed set leaveDate = #{3} , identity = #{4}
 		, mode = #{5} , total = #{6}  where hid = #{0} and name=#{1}  and idCard=#{2} and orderDate=#{7}
     </update>
     
      <!-- 根据住客克信息和leaveDate查找是否存在此hid-->
 	<select id="getEnterUser" resultType="Hed">
 		select * from hed where hid = #{0} and name=#{1} and idCard=#{2} and leaveDate is null
 	</select>
 	
 	<!-- 更新银行卡余额-->
 	<update id="updateBankBlanceById"> 
        update hostel set bankBalance = #{1} where id = #{0}
     </update>
     
     <!-- 分页查找Hostel -->
     <select id="findAllHostelsByPage" resultType="Hostel">
     	select * from hostel where state!=0 limit #{0},#{1}
     </select>
     
     <!-- 查找hostel总数 -->
	 <select id="getSumOfHostel" resultType="int">
	 	select count(*) as num from hostel where state!=0
	 </select>
</mapper>