<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.hw.mapper.PlanMapper">
 	<!-- 增加一个Plan -->  
    <insert id="addPlan"> 
        insert into plan(hid,startDate,endDate,bed,num,price) values(#{0},#{1},#{2},#{3},#{4},#{5})  
     </insert>
     
     
     <!-- 根据条件搜索客栈信息 -->  
    <select id="selectAllHostels"  resultType="OrderHostel">
       select * from hostel h,plan p where  
       h.id=p.hid 
       and h.province=#{0} and h.city=#{1} and h.district=#{2}
       and #{3} >= p.startDate and p.endDate >= #{4}
       and p.price between #{5} and #{6} and p.num!=0
      
       
    </select>
    
    
    <!-- 房间数改变 -->  
    <update id="updatePlanBedNum">
    	update plan set num=#{0} where hid=#{1} and startDate=#{2} and endDate=#{3}
    	and bed=#{4} and num=#{5} and price=#{6};
    </update>
    
    <!-- 根据hid,bed获取房间单价 -->
    <select id="getPriceByHidAndBed" resultType="long">
    	select price from plan where hid=#{0} and bed=#{1}
    </select>
    
    <!-- 根据hid和bed查找num -->
    <select id="getNumByHidAndBed" resultType="int">
    	select num from plan where hid=#{0} and bed=#{1}
    </select>
    
    <!-- 直接更新num -->
    <update id="updateNum">
    	update plan set num=#{0} where hid=#{1} and bed=#{2}
    </update>
</mapper>